Options +FollowSymLinks
<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule    ^$   webroot/wp_engine/ [L] # makes sure we catch the / path - home, pushed to wp install.
    RewriteRule    (.*) webroot/$1    [L] #everything else push to webroot
 </IfModule>